:root {
    --cor1: dimgray;
    --cor2: black;
    --cor3: white;
    --cor4: lightgray;
    --cor5: aliceblue;
}



h1 {
    color: rgb(85, 176, 250);
    text-align: center;
}

h2 {
    color: rgb(167, 197, 255);
    font-size:large
}

h3 {
    color: rgb(167, 212, 255);
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

H1 {
    color: blanchedalmond;
}

a {
    text-decoration:underline;
    text-align: center;
    color: rgb(106, 116, 255);
}


body {
    background-color: rgb(0, 31, 71);
    background-image: url();
    text-align: center;
    align-items: center;
}

img {
    border: 10px double rgb(0, 17, 255);
    margin-right: 5px;
    text-align: center;
}

div {
    background-color: rgb(0, 48, 104);
    padding: 50px;
    margin: 7px;
    border-top: 10px rgb(0, 48, 104);
    border-color: rgb(0, 33, 83);
    width: 90vw;
    text-align: center;
}

