h1 {
    color: rgb(187, 9, 9);
    text-align: center;
}

a {
    text-decoration: dotted;
    text-align: center;
    color: rgba(73, 0, 0, 0.795);
}

body {
    background-color: rgb(134, 0, 0);
    background-image: url();
    margin-top: 100px;
    text-align: center;
}

img {
    border: 10px double rgb(243, 1, 1);
    margin-right: 5px;
}

div {
    background-color: rgb(85, 0, 0);
    padding: 50px;
    margin: 0 auto;
    border-top: 25px solid rgb(131, 0, 0);
    border-color: rgb(224, 0, 0);
    width: 1000px;
}